--granite-gray: rgb(46, 45, 45);

.max-height {
  min-height: 100vh;
}
.quote-container {
  background: rgba(255, 255, 255, 0.5);
}
#generate-btn {
  color: var(--granite-gray) !important;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
#generate-btn:hover {
  background: black !important;
  border-color: white !important;
  color: white !important;
}

#quote {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.author {
  color: var(--granite-gray);
  text-align: right;
}

